.container {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    height: max-content;
    background-color: rgba(0,0,0,0.05);
    border-radius: 40px;
    margin: auto;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.description {
    text-align: center;
    margin: 40px;
}

.btn, h4 {
    margin-bottom: 30px;
}